<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Me</title>
        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        I am a student at Coding Dojo and play video games in my spare time. I love music and hope to meet other musicians! People might be surprised to learn that I can solve a Rubik's cube in under 30 seconds.

        <!-- <script type="text/javascript" src="script.js"></script> -->
    </body>
</html>