<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Ninjas</title>
        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <form action='' method='post'>
            Name:<input type='text' name='name'>
            Email:<input type='text' name='email'>
            <input type='submit' value='Submit'>
        </form>
        
        <!-- <script type="text/javascript" src="script.js"></script> -->
    </body>
</html>