<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Counter</title>
        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h2>Counter</h2>
        <p>{{session['num']}} times</p>
        <form action='/plus2'>
            <button>+2</button>
        </form>
        <form action='/reset'>
            <button>reset</button>
        </form>
        <!-- <script type="text/javascript" src="script.js"></script> -->
    </body>
</html>